html {
    background-color: rgb(27, 27, 27);
    font-family: Poppins;
    scroll-behavior: smooth;
    caret-color: transparent;
    cursor: default;
}

* {
    -webkit-tap-highlight-color: transparent;
    /* Vô hiệu hóa chọn văn bản */
    -webkit-touch-callout: none;
    /* Ngăn chặn menu context trên iOS */
    -webkit-user-select: none;
    /* Ngăn chọn văn bản trên iOS */
    -khtml-user-select: none;
    /* Ngăn chọn văn bản trên Konqueror */
    -moz-user-select: none;
    /* Ngăn chọn văn bản trên Firefox */
    -ms-user-select: none;
    /* Ngăn chọn văn bản trên Internet Explorer */
    user-select: none;
    /* Ngăn chọn văn bản trên các trình duyệt chuẩn */
}

:root {
    --Wid: 100vw;
    /* Giá trị mặc định */
    --Hig: 100vh;
    /* Giá trị mặc định */
    --pot: calc(var(--pot) * 1);
}

::selection {
    background: transparent;
    color: inherit;
}

img {
    -webkit-user-drag: none;
    user-drag: none;
}

:root {
    --cao: calc(100vw * 1080 / 1920);
}

body {
    margin: 0;
    background-color: rgb(27, 27, 27);
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-family: Montserrat;
}

h1 {
    z-index: 1;
    color: rgb(255, 255, 255);
    opacity: 0.1;
    text-align: center;
    width: 100vw;
    font-size: 5vw;
    margin-top: calc(var(--cao) /2 - 30px);
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
}

.homebanner {
    z-index: 50;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: calc(100vw * 9 / 16);
    max-height: 100vh;
    margin: 0px;
}

.bannerimg {
    width: 100%;
    position: absolute;
    z-index: 50;
    top: 0;
}

.bannerimg1 {
    transform: translateX(200%);
    z-index: 50;
    transition: transform 0.8s ease, opacity 0.5s ease;
    transition-delay: 0.2s;
    opacity: 0.44;
}

.bannerimg2 {
    transform: translateX(100%);
    z-index: 51;
    transition: transform 0.8s ease, opacity 0.8s ease;
    transition-delay: 0.2s;
    opacity: 0.4;
}

.bannerimg3 {
    transform: translateX(0);
    z-index: 52;
    opacity: 1;
    transition: transform 1s ease;
}

.bannerimg4 {
    transform: translateX(-100%);
    z-index: 51;
    transition: transform 0.8s ease, opacity 0.8s ease;
    transition-delay: 0.2s;
    opacity: 0.4;
}

.bannerimg5 {
    transform: translateX(-200%);
    z-index: 50;
    transition: transform 0.8s ease, opacity 0.5s ease;
    transition-delay: 0.2s;
    opacity: 0.4;
}

.bannercontrol,
.bannercurrent {
    position: absolute;
    z-index: 60;
}

.bannercontrol {
    color: rgba(201, 201, 201, 0.507);
    font-size: calc(10px + 4vw);
    top: calc(50% - 5px - 2vw);
    cursor: pointer;
    transition: color 0.4s ease;
}

.bannercontrol:hover {
    color: rgb(41, 41, 41);
}

.bannercontrol:active {
    color: rgba(0, 0, 0, 0.596);
}

#bannercontrolprev {
    left: 2vw;
}

#bannercontrolnext {
    right: 2vw;
}

.bannercurrent {
    font-size: 1.3vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 16vw;
    left: 42vw;
    bottom: 0.5vw;
    opacity: 70%;
    cursor: pointer;
}

.bannercurrent:hover {
    color: rgb(148, 148, 148);
}

.bannercurrent :active {
    color: rgb(27, 27, 27);
}

.bannercontent {
    z-index: 59;
    position: absolute;
    text-align: center;
    top: calc(var(--cao) /3 - 30px);
    width: 60vw;
    left: 20vw;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
}

.bannertitle {
    font-size: 6vw;
    font-family: "Koulen", sans-serif;
    line-height: 1;
    text-shadow: 0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.705);
}

.bannerbio {
    font-size: 2vw;
    font-family: "Inter", sans-serif;
    margin-top: 1vw;
    margin-bottom: 2.5vw;
    color: rgb(233, 233, 233);
}

.bannersearchbar {
    margin: auto;
    width: 60vw;
    height: 5vw;
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 100vw;
    backdrop-filter: blur(10px);
    color: rgba(255, 255, 255, 0.897);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bannersearchbarleft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
}

.searchbaroption {
    display: flex;
    height: 5vw;
    align-items: center;
    font-size: 1.8vw;
    transition: scale 0.3s ease, color 0.3s ease;
}

.searchbaroption:hover {
    color: rgb(255, 246, 204);
    scale: 1.05;
    cursor: pointer;
}

.searchbaroption i {
    font-size: 2.3vw;
    width: 2.3vw;
    height: 2.3vw;
    padding: 0.35vw;
}

#searchbaroption1 {
    margin-left: 2.8vw;
}

.line {
    height: 2vw;
    width: 0.5px;
    background-color: rgba(255, 255, 255, 0.479);
}

.optext {
    margin-left: 1.4vw;
}

.searchbarinput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
    width: 18vw;
    margin-right: 0px;
}

.searchbarinput input[type="text"] {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    width: 10vw;
    margin: 1vw;
    font-size: 1.8vw;
    text-align: center;
    color: white;
    caret-color: rgba(255, 255, 255, 0.582);
}

input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.589);
}

#searchiconx {
    background-color: rgba(0, 0, 0, 0);
    font-size: 3vw;
    width: 3vw;
    height: 3vw;
    padding: 0.5vw;
    margin: 0.5vw;
    border-radius: 50%;
    transition: 0.2s ease;
    position: relative;
    cursor: pointer;
}

#searchiconx::after {
    position: absolute;
    background-color: black;
    width: 4vw;
    height: 4vw;
    top: 0px;
    left: 0px;
}

#searchiconx:hover {
    scale: 1.25;
    color: rgb(255, 246, 204);
    background-color: rgba(0, 0, 0, 0.137);
}

/* .searchicon i {
    background-color: rgba(0, 0, 0, 0.226);
    font-size: 2vw;
    width: 2vw;
    height: 2vw;
    padding: 1.5vw;
    margin-right: -1vw;
    border-radius: 50%;
} */